@import "tailwindcss";

:root {
  --font-alexandria: var(--font-alexandria);
  --font-ibm-plex-arabic: var(--font-ibm-plex-arabic);
}

.font-alexandria {
  font-family: var(--font-alexandria), sans-serif;
}

.font-ibm {
  font-family: var(--font-ibm-plex-arabic), var(--font-alexandria), sans-serif;
}

body {
  font-family: var(--font-ibm-plex-arabic), sans-serif;
  background-color: #fff;
  color: #171717;
}

h1,
h2,
h3 {
  font-family: var(--font-alexandria), sans-serif;
}

p,
div,
span {
  font-family: var(--font-ibm-plex-arabic), var(--font-alexandria), sans-serif;
}
